[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
babel = "*"
click = "*"
colorama = "*"
flask = "*"
flask-babel = "*"
flask-wtf = "*"
gunicorn = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
pytz = "*"
werkzeug = "*"
wtforms = "*"

[dev-packages]

[requires]
python_version = "3.9"
